.jumbotron {
  background-color: #263238;
  color: white;
  border-radius: 0px;
  margin-top: 50px;
  margin-bottom: 20px; }

body {
  background-color: #fafafa; }

.card-hotel {
  flex: 1 250px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

footer {
  background-color: #e0e0e0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icons {
  margin-left: 5px;
  margin-right: 5px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
