$azul-marino: #263238;
$gris-byBody: #fafafa;
$gris-byFooter: #e0e0e0;

@mixin margenHorizontal($left, $right){
	margin-left: $left;
	margin-right: $right;
}

@mixin margenVertical($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $azul-marino;
	color:white;
	border-radius: 0px;
	@include margenVertical(50px, 20px);
}

body{
	background-color: $gris-byBody; 
}

.card-hotel{
	flex:1 250px;
	@include margenHorizontal(5px, 5px);
	@include margenVertical(5px, 5px);
}

footer{
	background-color:$gris-byFooter;
	@include margenHorizontal(0px, 0px);
	@include margenVertical(15px, 0px);
	padding:10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-icons{
@include margenHorizontal(5px, 5px);
}

.tab-content{
	padding-top: 10px;
}